@page
@model ScholarlySoftwareSearch.Pages.Softwares.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Software.SoftwareName" class="control-label"></label>
                <input asp-for="Software.SoftwareName" class="form-control" />
                <span asp-validation-for="Software.SoftwareName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Authors" class="control-label"></label>
                <input asp-for="Software.Authors" class="form-control" />
                <span asp-validation-for="Software.Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.UploaderID" class="control-label"></label>
                <input asp-for="Software.UploaderID" class="form-control" />
                <span asp-validation-for="Software.UploaderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.UploadDate" class="control-label"></label>
                <input asp-for="Software.UploadDate" class="form-control" />
                <span asp-validation-for="Software.UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Description" class="control-label"></label>
                <input asp-for="Software.Description" class="form-control" />
                <span asp-validation-for="Software.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Publisher" class="control-label"></label>
                <input asp-for="Software.Publisher" class="form-control" />
                <span asp-validation-for="Software.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.DownloadURL" class="control-label"></label>
                <input asp-for="Software.DownloadURL" class="form-control" />
                <span asp-validation-for="Software.DownloadURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Tag" class="control-label"></label>
                <input asp-for="Software.Tag" class="form-control" />
                <span asp-validation-for="Software.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
