@page
@model ScholarlySoftwareSearch.Pages.Softwares.CreateModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <script>
    function countChar(str) {
        var len = str.value.length;
        if (len >= 400) {
        str.value = str.value.substring(0, 400);
        } else {
        $('#charNum').text(400 - len + " characters remaining");
        }
    };
    </script>
</head>

<h1>Create</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Software.SoftwareName" class="control-label"></label>
                <input asp-for="Software.SoftwareName" class="form-control" required/>
                <span asp-validation-for="Software.SoftwareName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Authors" class="control-label"></label>
                <input asp-for="Software.Authors" class="form-control" required/>
                <span asp-validation-for="Software.Authors" class="text-danger"></span>
            </div>
            <div asp-for="Software.UploaderID" value=@User.Identity.Name/>
            <div class="form-group">
                <input asp-for="Software.UploaderID" class="form-control" type="hidden" value=@User.Identity.Name required/>
                <span asp-validation-for="Software.UploaderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.UploadDate" class="control-label"></label>
                <input type="date" asp-for="Software.UploadDate" class="form-control" required/>
                <span asp-validation-for="Software.UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Description" class="control-label"></label>
                <textarea asp-for="Software.Description" class="form-control" rows="15" id="field" onkeyup="countChar(this)"></textarea>
                <div id="charNum"></div>
                <span asp-validation-for="Software.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Publisher" class="control-label"></label>
                <input asp-for="Software.Publisher" class="form-control" required/>
                <span asp-validation-for="Software.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.DownloadURL" class="control-label"></label>
                <input type="url" asp-for="Software.DownloadURL" class="form-control" required />
                <span asp-validation-for="Software.DownloadURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Software.Tag" class="control-label"></label>
                <input asp-for="Software.Tag" class="form-control" required/>
                <span asp-validation-for="Software.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <p>Please note, it might take a minute to validate your software entry, please do not refresh your page.</p>
                <p>ENSURE YOUR DOWNLOAD URL IS A VALID LINK, OTHERWISE YOU WILL BE REDIRECTED TO AN ERROR PAGE.<p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
