@page
@model ScholarlySoftwareSearch.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>About</h1>


<div class="container">
    <main role="main" class="pb-3">
        <p></p>
        <div>
            <h2>What is Scholarly Software Search?</h2>
            <p>Scholarly Software Search is a user maintained meta-data catalogue for software and systems relating to research and academia.</p>

            <h2>Getting Started</h2>
            <ul>
                <li><b>View Software:</b> In order to view software entries, visit the "Software" tab.</li>
                <li><b>Search Software:</b> To search software entries in the "Software" tab, type in your search criteria in the search bar.</li>
                <li><b>Create an Account:</b> In order to create and manage software entries, visit the "Sign Up" tab and make an account following the provided instructions.</li>
                <li><b>Create a Software Entry:</b> In order to create software entries, visit the "Software" tab and click "create" and follow the the provided instructions.</li>
                <li><b>Manage Software:</b> In order to edit software entries, visit the "Software" tab and click the "edit" button next to the corresponding entry.</li>
            </ul>
        </div>

    </main>
</div>
