@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <p>There is currently nothing displayed on this home page.</p>
    </div>
    
    <table style="width:100%">
        <tr>
          <th>ID</th>
          <th colspan="2">Informations</th>
        </tr>
        <tr>
          <td>XXXXXX</td>
          <td>1111111</td>
        </tr>
      </table>
