@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <p>There is currently nothing displayed on this home page.</p>
        <p>There will be something displayed on this home page.</p>
    </div>
